div

  img(src='https://source.unsplash.com/category/people' style='positon:relative; left:0px; top:0px;')


  h1(style='position: absolute; left:100px; top: 100px; font-family:"Sans Serif";') #{body["message"]}
  h2(style='position: absolute; left:200px; top: 170px; font-family:"Sans Serif";') #{body["subtitle"]}
